* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.paperWrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  /* border: 3px solid purple; */
}

.ClearBtnWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* position: absolute; */
  /* align-items: center; */
  height: 100%;
  /* transform: translate(-50%, -50%); */
  transform: translateX(20%);
  /* border: 3px solid red; */
}