.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 500px;
  margin: auto;
}

.App-message {
  display: flex;
  min-height: 30px;
  margin: 10px 0px;
  padding: 5px;
  /* border: 3px solid red; */
}

.login-form-button {
  width: 100%;
}

.login-form {
  max-width: 300px;
}

.MessageBody {
  /* width: auto; */
  max-width: 200px;
  min-height: 35px;
  height: 100%;
  /* border: 3px solid red; */
  word-wrap: break-word;
}